- var currentService = 'tickets';
- //filter out the services in this plan
- var services = [];
- each service in globalViewVars.wembliServices
	- if (req.session.currentPlan.config[service])
		- services.push(service);
- services.push('summary');
- var maxWidth = 900;
- var cnt = services.length;
- var m = ((maxWidth - (100 * cnt))/2)/cnt;
- var w = (100 + (m * 2)) * (cnt - 1);
ul#breadcrumbs(style="width:#{maxWidth}px")
	- var idx = 0;
	- each service in services
		- idx++;
		- var active = ((typeof page != "undefined") && (page == service)) ? 'active' : '';
		- if (active == 'active')
			- currentService = service;
		li(class="#{active}")
			.circle(style="margin:0 #{m}px")
				a(href="/plan/#{service}#eventBuilder")
				p.segoe!= idx+'. '+service
.line(style="width:#{w}px")
