- var currentService = 'tickets';
- //filter out the services in this plan
- var services = [];
- each service in globalViewVars.wembliServices
	- if (session.eventplan.config[service])
		- services.push(service);
- var maxWidth = 900;
- var cnt = services.length + 1;
- var m = ((maxWidth - (100 * cnt))/2)/cnt;
- var w = (100 + (m * 2)) * (cnt - 1);
ul#breadcrumbs(style="width:#{maxWidth}px")
	- var idx = 0;
	- each service in services
		- idx++;
		- var active = ((typeof page != "undefined") && (page == service)) ? 'active' : '';
		- if (active == 'active')
			- currentService = service;
		li(class="#{active}")
			.circle(style="margin:0 #{m}px")
				a(href="/#{service}#eventBuilder")
				p.segoe!= idx+'. '+service
	- var active = ((typeof page != "undefined") && (page == 'summary')) ? 'active' : '';
	li(class="#{active}")
		.circle(style="margin:0 #{m}px;")
			a(href="/event/summary#eventBuilder")
			p.segoe!= cnt+'. Summary'
.line(style="width:#{w}px")
