- var lastSearch = visitor.lastSearch ? visitor.lastSearch : '/search';
- lastSearch += '?updateEvent=1';
- var date = new Date(Date.parse(event.Date));
- var location = event.City+', '+event.StateProvince;
- var btnText = "Find Tickets";
- if (plan && typeof plan.preferences.payment != "undefined")
	- btnText = (plan.preferences.payment === 'split-first') ? 'Start Plan' : 'Find Tickets';
a.hide(id="#{event.ID}",href="/tickets/"+event.ID+"/"+event.Name)
.event-date-box
	span.day!=        date.format("ddd")
	span.event-date!= date.format("mmm d")
	span.time!=       date.format("h:MM TT")
.info
	.pull-left
		span.name.block= event.Name
		span.venue.block= (typeof event.Venue.Name != "undefined") ? event.Venue.Name : event.Venue
		span.location.block= location
		- if (typeof changeEvent != "undefined" && changeEvent == true)
			span.changeEvent.block
				a#changeEvent.wembli-sequence-link(href="/search/#{lastSearch}") Change Event
	.pull-right
		.cta
			a.btn.btn-primary.choose-event(id="#{event.ID}",href="/tickets/"+event.ID+"/"+event.Name)
				span= btnText
