- var lastSearch = req.session.lastSearch ? req.session.lastSearch : '/events/search';
- lastSearch += '?updateEvent=1';
- var date = new Date(Date.parse(event.Date));
- var location = event.City+', '+event.StateProvince;
a.hide(id="#{event.ID}",href="/event/"+event.ID+"/"+event.Name)
.event-date-box
	span.day!=        date.format("ddd")
	span.event-date!= date.format("mmm d")
	span.time!=       date.format("h:MM TT")
.info
	.pull-left
		span.name.block= event.Name
		span.venue.block= (typeof event.Venue.Name != "undefined") ? event.Venue.Name : event.Venue
		span.location.block= location
		- if (typeof changeEvent != "undefined" && changeEvent == true)
			span.changeEvent.block
				a#changeEvent.wembli-sequence-link(href="/events/search/#{lastSearch}") Change Event
	.pull-right
		- if ((typeof event.TicketPricingInfo !== "undefined") && (typeof event.TicketPricingInfo.ticketsAvailable !== "undefined"))
			span.pricing.pull-right
				- if (event.TicketPricingInfo.ticketsAvailable == '0')
					em No tix available
				- else
					em.ticketsAvailable #{event.TicketPricingInfo.ticketsAvailable} tix&nbsp;
					- if (event.TicketPricingInfo.lowPrice == event.TicketPricingInfo.highPrice)
						em.priceRange from $#{parseFloat(event.TicketPricingInfo.lowPrice).toFixed(0)}
					- else
						em.priceRange ($#{parseFloat(event.TicketPricingInfo.lowPrice).toFixed(0)} - $#{parseFloat(event.TicketPricingInfo.highPrice).toFixed(0)})
		.cta.architect
			a.choose-event(id="#{event.ID}",href="/event/"+event.ID+"/"+event.Name)
				span Plan It!
