#eventContainer.clearfix
  .eventDate.leftBlock
    - var date = new Date(Date.parse(event.Date));
    div.eventMonth!= date.format("mmmm dS")
    div.eventDay!= date.format("dddd @ h:MM TT" )
  .eventInfo.leftBlock.clearfix
    .eventInfoTop.clearfix
      h3.eventName!= event.Name
        - if (typeof event.events != "undefined")
          span!= ' - '
          - var eventLinkString = 'view ';
          - eventLinkString += (event.events.length > 1) ? 'all '+ event.events.length + ' dates' : 'date';
          a(href=path+'/event-list/'+event.Name)!= eventLinkString
    .viewTicketsLink.clearfix
      .eventLoc.leftBlock.clearfix
        span#venueName(href='/venue/'+event.VenueID+'/'+event.Venue)!= event.Venue+' - '
        span#venueLoc(href='/search/city/'+event.City+'/state/'+event.StateProvince)!= event.City+', '+event.StateProvince
      - /* .startingTicketPrice.leftBlock!= "ticket prices starting at $"+event.minPrice */
      - if (typeof event.events == "undefined")
        a.rightBlock.viewTickets(id=event.ID,href='/tickets/event/'+event.ID+'/'+event.Name) [View Tickets]
