- var lastSearch = visitor.lastSearch ? visitor.lastSearch : '/search';
- lastSearch += '?updateEvent=1';
//- determine timezone of customer
- var date = new Date(Date.parse(event.Date));
- var location = event.City+', '+event.StateProvince;
- var payment;
- if (typeof btnText === "undefined")
	- var btnText = 'Plan It';
- if ((typeof plan !== "undefined") && (typeof plan.preferences !== "undefined"))
	- payment = plan.preferences.payment;
//- a.hide(id="#{event.ID}",href="/tickets/"+event.ID+"/"+event.Name)
.event-date-box
	span.day!=        date.format("ddd")
	span.event-date!= date.format("mmm d")
	span.time!=       date.format("h:MM TT")
.info
	.pull-left
		span.name.block= event.Name
		span.venue.block= (typeof event.Venue.Name != "undefined") ? event.Venue.Name : event.Venue
		span.location.block= location
		- if (typeof changeEvent != "undefined" && changeEvent == true)
			span.changeEvent.block
				a#changeEvent(href="/search/#{lastSearch}") Change Event
	.pull-right
		.cta
			case payment
				when "split-first"
					- btnText = btnText ? btnText : 'Start Plan';
					a.btn.btn-primary.choose-event.next-link.prevent-default.start-plan(event-id="#{event.ID}",event-name="#{event.Name}",id="#{event.ID}",href="/tickets/"+event.ID+"/"+event.Name)= btnText
				when "split-after"
					- btnText = btnText ? btnText : 'See Tickets';
					a.btn.btn-primary.choose-event.next-link.prevent-default.start-plan(event-id="#{event.ID}",event-name="#{event.Name}",id="#{event.ID}",href="/tickets/"+event.ID+"/"+event.Name)= btnText
				when "no-split"
					- btnText = btnText ? btnText : 'See Tickets';
					a.btn.btn-primary.choose-event.next-link.prevent-default.start-plan(event-id="#{event.ID}",event-name="#{event.Name}",id="#{event.ID}",href="/tickets/"+event.ID+"/"+event.Name)= btnText
				default
					- btnText = btnText ? btnText : 'Start Plan';
					a.btn.btn-primary.choose-event.next-link.prevent-default.start-plan(event-id="#{event.ID}",event-name="#{event.Name}",id="#{event.ID}",href="/tickets/"+event.ID+"/"+event.Name)= btnText

