#index-frame(ng-controller="IndexCtrl")
	section.section1.carousel-container
		#carousel.carousel.slide
			ol.carousel-indicators
				li.active(data-target="#carousel",data-slide-to="0")
				li(data-target="#carousel",data-slide-to="1")
				li(data-target="#carousel",data-slide-to="2")
				li(data-target="#carousel",data-slide-to="3")
				li(data-target="#carousel",data-slide-to="4")
			.carousel-inner
				//-
					.item.active
						img(src="/images/carousel/carousel-1.jpg")
					.item.active
						img(src="/images/carousel/carousel-2.jpg")
				.item.active
					img(src="/images/carousel/carousel-3.jpg")
				.item
					img(src="/images/carousel/carousel-4.jpg")
				.item
					img(src="/images/carousel/carousel-5.jpg")
				.item
					img(src="/images/carousel/carousel-6.jpg")
				.item
					img(src="/images/carousel/carousel-7.jpg")
			//- a.carousel-control.left.icon-chevron-sign-left.icon-3x(href="#carousel",data-slide="prev")
			//- a.carousel-control.right.icon-chevron-sign-right.icon-3x(href="#carousel",data-slide="next")
	section.section2
		.container
			.tag-line
				p FIND TICKETS TO CONCERTS, THEATER & SPORTING EVENTS
				p INVITE FRIENDS WITHOUT GETTING STUCK WITH THE BILL
			.search
				form#index-search-form.form-search.clearfix(method="GET", action="/search/events")
					i.icon-search.icon-2x.pull-left
					input.pull-left(type="text", ng-model="search", name="search", placeholder="enter an event, team or venue, city or zip code")
					button.btn.btn-secondary.segoe.pull-left(href="#") search
	section.section3
		.video-container.clearfix
			.video-text.pull-left
				p Love going to live events with friends but hate to plan it lest you end up getting stuck with the bill...AGAIN?
				p Instead of creating an Evite or Facebook event, visiting dozens of ticketing sites, scouring for big bargains on good eats, driving around in circles for parking, or the pain of all pains - trying to get friends to pony up for their part of the bill - we bring all of those pieces together for you in a snap!
			.video.pull-left
				iframe(width="480",height="360",src="//www.youtube.com/embed/kgtNax8p5og",frameborder="0",allowfullscreen)
	section.section4
		h1.calibri UPCOMING EVENTS IN YOUR AREA
		.container.clearfix
			.top-events-arrow
			ul.left.pull-left
				h2 Concerts:
				//- keeping this cause it was cool
					high-sales-performers(parent-category-id="2",num-returned="10")
						li.performers(ng-repeat="performer in concertPerformers | filter:orderBy:'-Percent'")
							a.performer.white(target="_self", ng-href="/search/events/{{performer.Description}}") {{$index+1}}. {{performer.Description}}
				- each c, i in concerts
					li.performers
						a.performer.white(target="_self", ng-href="/search/events/#{c.Name}") #{i+1}. #{c.Name}
			ul.middle.pull-left
				h2 Sporting Events:
				- each s, i in sports
					li.performers
						a.performer.white(target="_self", ng-href="/search/events/#{s.Name}") #{i+1}. #{s.Name}
			ul.right.pull-left
				h2 Theater:
				- each t, i in theater
					li.performers
						a.performer.white(target="_self", ng-href="/search/events/#{t.Name}") #{i+1}. #{t.Name}
	section.section5
		.container.clearfix
			.left.pull-left
				.body.twitter-widget
					a.twitter-timeline(href="//twitter.com/search?q=%40wembli",data-link-color="#0088CC", data-theme="dark",data-widget-id="318018385696915459", data-tweet-limit="3", data-chrome="noborders noscrollbar", height="400px" ,width="500px").segoe
					.twitter-right-arrow
			.right.pull-left
				.body
					.row.clearfix
						a.facebook-link.pull-left(href="//www.facebook.com/wemblifan")
						a.blog-link.pull-left(href="//blog.wembli.com/")
					.row.clearfix
						a.twitter-link.pull-left(href="//twitter.com/wembli")
						a.gplus-link.pull-left(href="//plus.google.com/102053515859174299215/posts")
					.row.message
						h2 Promos & Insider Info
						.text Here at Wembli we love social networking and connecting with our favorite people – our beloved Wemblizens! That’s why we are all over Facebook, Twitter and Google+.
	section.section6
		//-
			.container
				.footer-column.pull-left
					h4 TICKETS
					.list
				.footer-column.pull-left
					h4 IN YOUR AREA
					.list
				.footer-column.pull-left
					h4 TRENDING NOW
					.list
				.footer-column.pull-left
					h4 ABOUT WEMBLI
					.list
		.container.clearfix
			//-
				.footer-social-button.twitter-button.pull-left
					a(href="//twitter.com/wembli", class="twitter-follow-button", data-show-count="false", data-lang="en") Follow @wembli
			.footer-social-button.facebook-like-button.pull-left
				.fb-like(data-href="https://www.wembli.com", data-width="450",data-show-faces="true", data-send="true")
			.links.clearfix.pull-left
				a.footer-link(href="/about-us") About Us
				a.footer-link(href="/terms-policies") Terms Of Service & Privacy Policy
				a.footer-links(href="https://plus.google.com/102053515859174299215", rel="publisher") Google+
