input(type="hidden", name="eventId", value="#{eventId}", ng-init="eventId='#{eventId}'")
input(type="hidden", name="eventName", value="#{eventName}", ng-init="eventName='#{eventName}'")
#tickets-frame.animate-in(ng-controller="TicketsCtrl")
	interactive-venue-map(event-id="#{eventId}")
