- var brokerId = '5006'
- var siteNumber = '0'
- var ticketLink = 'https://tickettransaction2.com/Checkout.aspx?brokerid='+brokerId+'&sitenumber='+siteNumber+'&tgid='+ticket.ID+'&evtid='+ticket.EventID+'&price='+ticket.ActualPrice+'&treq='+ticket.TicketQuantity+'&SessionId='+ticketSessionId()
a.ticket.clearfix(href=ticketLink)
  .ticketInfo.leftBlock
    span.jiveTalk= "Section: "+ticket.Section + " - Row: " + ticket.Row 
    - var qtyStr = " (" + ticket.TicketQuantity
    - qtyStr += (ticket.TicketQuantity > 1) ? " tickets) " : " ticket) "
    span!= qtyStr
    span.jiveTalk= (ticket.LowSeat == '*') ? "" : "Seats: "+ticket.LowSeat + '-' + ticket.HighSeat 
  .ticketPrice.rightBlock!= "[Buy for: $"+ticket.ActualPrice+"]"


