//- see dynamic-view-helpers helpers for wizardNav var
- var wizardNav = initInviteFriendsWizard();
- wizardNav[0]['active'] = 'active';
#invitation-modal.invite-friends-wizard.modal.hide(ng-controller="InviteFriendsWizardCtrl")
	#invite-friends-wizard
		.modal-header
			h2 Invite Friends To {{plan.event.eventName}}
		.modal-body
			#left.pull-left
				each navItem in wizardNav
					a(ng-class="{'#{navItem.id}':'active'}[currentStep]",ng-click="gotoStep('#{navItem.step}')",href="#{navItem.href}",id="#{navItem.id}",class="wizard-step-nav")
						i(class="#{navItem.icon}")
						div
							span #{navItem.text}
							i.icon-double-angle-right.pull-right
			#right.pull-left
				#step1.wizard-step(ng-show="{'step1':true}[showStep]")
					invitation-wizard-step1
						include invite-friends-wizard/step-1
				#step2.wizard-step(ng-show="{'step2':true}[showStep]")
					invitation-wizard-step2
						include invite-friends-wizard/step-2
				#step3.wizard-step(ng-show="{'step3':true}[showStep]")
					invitation-wizard-step3
						include invite-friends-wizard/step-3
				#step4.wizard-step(ng-show="{'step4':true}[showStep]")
					invitation-wizard-step4
						include invite-friends-wizard/step-4
				#step5.wizard-step(ng-show="{'step5':true}[showStep]")
					invitation-wizard-step5
						include invite-friends-wizard/step-5

