block hero-right
	#event-options-hero-right.hero-right(ng-controller="EventOptionsCtrl")
		.event-data(ng-cloak, event-id="#{eventId}",direction="-1")
		form#event-options-form(name="eventOptionsForm",method="post",action="/event-options/#{eventId}/#{eventName}",enctype="application/x-www-form-urlencoded")
			fieldset
				#add-ons.options-group
					h2 Add-Ons:
					.error-text(ng-show="addOnsError") Error with add-ons...
					.control-group
						label
							input#parking.hide(ng-model="parking",type="checkbox",name="parking",ng-checked="parking")
							i.icon-check.icon-2x.pull-left.green(ng-show="parking")
							i.icon-check-empty.icon-2x.pull-left(ng-hide="parking")
							span I want to lock in parking spot(s) ahead of time
					.control-group
						label
							input#restaurant.hide(ng-model="restaurant",type="checkbox",name="restaurant",ng-checked="restaurant")
							i.icon-check.icon-2x.pull-left.green(ng-show="restaurant")
							i.icon-check-empty.icon-2x.pull-left(ng-hide="restaurant")
							span I want to add restaurant reservations to my outing
					.control-group
						label
							input#hotel.hide(ng-model="hotel",type="checkbox",name="hotel",ng-checked="hotel")
							i.icon-check.icon-2x.pull-left.green(ng-show="hotel")
							i.icon-check-empty.icon-2x.pull-left(ng-hide="hotel")
							span I need to book a hotel room(s)
				#invite-options.options-group
					h2 Invite Preferences:
					.error-text(ng-show="inviteOptionsError") Error with invite preferences...
					.control-group
						label
							input#guest-friends.hide(ng-model="guest_friends",type="checkbox",name="guest_friends",ng-checked="guest_friends")
							i.icon-check.icon-2x.pull-left.green(ng-show="guest_friends")
							i.icon-check-empty.icon-2x.pull-left(ng-hide="guest_friends")
							span My guests can invite their friends/family
					.control-group
						label
							input#over-21.hide(ng-model="over_21",type="checkbox",name="over_21",ng-checked="over_21")
							i.icon-check.icon-2x.pull-left.green(ng-show="over_21")
							i.icon-check-empty.icon-2x.pull-left(ng-hide="over_21")
							span This outing is for people over 21 (sorry no kids this time)
					.control-group
						label
							input#organizer-not-attending.hide(ng-model="organizer_not_attending",type="checkbox", name="organizer_not_attending", ng-checked="organizer_not_attending")
							i.icon-check.icon-2x.pull-left.green(ng-show="organizer_not_attending")
							i.icon-check-empty.icon-2x.pull-left(ng-hide="organizer_not_attending")
							span I am organizing this event but I will NOT be attending
				#guest-list-options.options-group(ng-init="guest_list='full'")
					h2 Guest List:
					.error-text(ng-show="guestListOptionsError") Dude, you need to pick one of these...
					.control-group
						label
							input.hide(ng-model="guest_list",type="radio",name="guest_list",value="full",ng-checked="guest_list=='full'")
							i.icon-check.icon-2x.pull-left.green(ng-show="{'full':true}[guest_list]")
							i.icon-check-empty.icon-2x.pull-left(ng-show="!{'full':true}[guest_list]")
							span My guests can see the full invite list
					.control-group
						label
							input.hide(ng-model="guest_list",type="radio",name="guest_list",value="rsvp",ng-checked="guest_list=='rsvp'")
							i.icon-check.icon-2x.pull-left.green(ng-show="{'rsvp':true}[guest_list]")
							i.icon-check-empty.icon-2x.pull-left(ng-show="!{'rsvp':true}[guest_list]")
							span My guests can only see who's RSVP'd 'yes'
					.control-group
						label
							input.hide(ng-model="guest_list",type="radio",name="guest_list",value="private",ng-checked="guest_list=='private'")
							i.icon-check.icon-2x.pull-left.green(ng-show="{'private':true}[guest_list]")
							i.icon-check-empty.icon-2x.pull-left(ng-show="!{'private':true}[guest_list]")
							span My guests can not see who else is invited
				button.btn.btn-primary.btn-large.wembli-sequence-link(ng-click="fetchModals.fetch('/invitation')",direction="1") Continue
			#arrow.arrow

