//ticketnetwork settings
- var brokerId = '5006'
- var siteNumber = '0'
- var skippedCnt = 0;
- var validCnt = 0;
// ----
- if (session.isOrganizer && plan.config.payment == 'group' && !plan.completed.purchasedTickets)
	.alert.alert-info Choose options for your friends to vote on:
form
	ul
		- each ticket in tickets
			- var selectQty = 0;
			- //if any of ticket.ValidSplits.int == friendsCount, use that, else skip this ticket group
			- console.log('valid splits:'+ticket.ValidSplits.int)
			- each split in ticket.ValidSplits.int
				- if (parseInt(split) == friendsCount)
					- selectQty = parseInt(split)
			- if (((typeof session.currentPlan.tickets == "undefined") || (typeof session.currentPlan.tickets[ticket.ID] == "undefined")) && selectQty == 0)
				- skippedCnt++;
				- continue
			- validCnt++;
			- var qtyStr = ticket.TicketQuantity
			- qtyStr += (ticket.TicketQuantity > 1) ? " tickets " : " ticket "
			li(id='ticket-id-'+ticket.ID)
				p.info 
					span#ticketSeat= "Section: "+ticket.Section + " - Row: " + ticket.Row
					span.seats.block!= (ticket.LowSeat == '*') ? "" : "Seats: "+ticket.LowSeat + '-' + ticket.HighSeat 
					span.rating.block
						em Wembli Rating:
						span.stars!= (ticket.Rating ? ticket.Rating : 0)
						br
						em.ratingDescription!= ticket.RatingDescription
				- if ((session.isOrganizer) && ((typeof ticket.payment == "undefined") || (typeof ticket.payment.payment == "undefined") || (!ticket.payment.payment)))
					p.cta
						span.qty
							strong Qty: 
							- if ((typeof ticket.ValidSplits != "undefined") && (typeof ticket.ValidSplits.int != "undefined"))
								select(name="qty-#{ticket.ID}")
									- each split in ticket.ValidSplits.int
										- if (selectQty == parseInt(split)) 
											option(value="#{split}",selected="selected")!= split
										- else
											option(value="#{split}")!= split
							- else
								span!= split
						br
						a.btn.btn-primary(href="#") Add to Plan
				span.ticket-price-box!= partial('includes/ticket-price-box',{ticket:ticket});
	- if (validCnt == 0)
		h4 Oh Noes!
		div
			p.note There are no ticket groups that will accomodate the size of your group.
			- if (skippedCnt > 0)
				p.note!= "There are however, "+skippedCnt+" ticket groups available for this event."
				hr
				div
					a.btn.btn-primary.btn-large(href="/plan/tickets/all") Show Me
				div
					a(href="/") No thanks, I'll find a new event to go to