- var search_box_small = {q:param.q};
#eventsContent
	section.clearfix
		div#eventResults.searchResults
			h2.tunga!= 'EVENT LIST FOR "'+param.q+'"'
			ul.results.clearfix
				- var cnt = 0;
				- each event in events
					- cnt++;
					- if (cnt > 50) 
						- break;
					- var date = new Date(Date.parse(event.Date));
					li
						p.info 
							a(href="/tickets/"+event.ID+"/"+event.Name)!= event.Name
							span.venue.block!= event.Venue
							span.location.block!= event.City+', '+event.StateProvince
							span.rating.block
								em Expert Rating:
								span.stars!= (event.Rating ? event.Rating : 0)
						p.cta
							a.btn.primary(href="/tickets/"+event.ID+"/"+event.Name) See Tickets
							- // don't have this info right now: em 300 tickets from $27
						span.when
							span.day!=        date.format("ddd")
							span.event-date!= date.format("mmm d")
							span.time!=       date.format("h:MM TT") 
		include widgets/search_box_small
		article#signupCta.clearfix
			h3 Sign Up and Get a Discount
			p Sign up for Wembli today and we'll send you a discount code for parking.  Even if you already bought your tickets from another site!
			p Make Wembli your one-stop shop for concert and sports outings.  We do the legwork so you can focus on making great memories
			a(href="#") Sign In							