extends layout
block content
	#index(ng-controller="IndexCtrl")
		section.section1.hidden-xs
			img.img-responsive(src="/images/seating.jpg")
		section.section2.container
			h1.tag-line Your Outing. Your Way.
			//- can this be an include?
			.search-box
				form#index-search-form.search-form.clearfix(ng-submit="submitSearch()", novalidate)
					i.fa.fa-search.icon-2x.pull-left(ng-hide="searchInProgress")
					i.fa.fa-cog.fa-spin.icon-2x.pull-left(ng-show="searchInProgress")
					//- add class .typeahead to turn on autocomplete
					input.pull-left(config="index", type="text", ng-model="search", name="search", placeholder="enter an event, team or venue, city or zip code")
					button.btn.btn-secondary.segoe.pull-left(href="#") search
			.copy
				p Search for tickets to concerts, theater and sporting events
		section.section3.container
			h1 THE OPTIONS
			strong Instead of the one size fits all approach that the other sites take, we let you build your outing, your way.
			.row.info-boxes
				.col-sm-4.col-xs-12
					.box.one
						.circle
							i.fa.fa-ticket.fa-4x.fa-rotate-45
						h2 Tickets
						p We scour the web for tickets to concerts, theater and sporting events so you just have to search once and you're done.
				.col-sm-4.col-xs-12
					.box.two
						.circle-small.one
							i.fa.fa-car
						.circle-small.two
							i.fa.fa-beer
						.circle-small.three
							i.fa.fa-suitcase
						.circle-black
							i.fa.fa-plus.fa-4x.
						h2 Add Ons
						p Creating the perfect experience is different for everyone.  Wembli lets you choose from smart add-ons like parking, restaurant deals and hotels to incorporate into your plan.
				.col-sm-4.col-xs-12
					.box.three.clearfix
						.circle
								i.fa.fa-group.fa-4x.
						h2 Friends
						p If you decide to invite friends, we'll make it easy with fun features like voting options and bill splitting.  We'll save you time and friendships!

		section.section4
			.container
				.row.video-container
					.col-md-6
						.video-text
							h1 YOUR STORY
							p Whether you're going solo, inviting others (like Ken in our video) or planning a date night with that special someone - Wembli wants to help you make great memories that turn into great stories.
							p Other sites dump you off to fend for yourself after the ticket sale. Wembli is different. We make sure that the right options are there when you need them.  With smart add ons like Parking, Restaurant Deals, Hotels and friend options, we make planning flawless... and experiences, memorable.
							p Let Wembli be the hero in your story!
					.col-md-6.video
						iframe(src="//www.youtube.com/embed/_DKAIoIHk5c",frameborder="0",allowfullscreen)
			.wembli-man-transparent.hidden-xs
		section.section5
			.row.hidden-sm.hidden-xs
				.col-md-6.col-md-offset-3.top-events-arrow
					img(src="/images/top-events-arrow.png").img-responsive
			.row.header
				.col-xs-12
					h1 MOST POPULAR EVENTS
			.row.top-lists
				.col-md-3.col-md-offset-1.col-sm-4.col-xs-12
					h2.segoe Top Concerts:
					ul.left
						- each c, i in concerts
							li.performers
								a.performer.white.show-ellipses(target="_self", start="0", title="#{c.name}", characters="26", href="http://#{app.settings.host}.wembli.com#{c.url}", ng-href="http://#{app.settings.host}.wembli.com#{c.url}") #{i+1}) #{c.name}
				.col-md-3.col-md-offset-1.col-sm-4.col-xs-12
					h2.segoe Top Sporting Events:
					ul.middle
						- each s, i in sports
							li.performers
								a.performer.white.show-ellipses(target="_self", start="0", title="#{s.name}", characters="26", href="http://#{app.settings.host}.wembli.com#{s.url}", ng-href="http://#{app.settings.host}.wembli.com#{s.url}") #{i+1}) #{s.name}
				.col-md-3.col-sm-4.col-xs-12
					h2.segoe Top Theater:
					ul.right
						- each t, i in theater
							li.performers
								a.performer.white.show-ellipses(target="_self", start="0", title="#{t.name}", characters="26", href="http://#{app.settings.host}.wembli.com#{t.url}", ng-href="http://#{app.settings.host}.wembli.com#{t.url}") #{i+1}) #{t.name}

		section.section6
			.container
				.row
					.col-md-5.col-md-offset-1.left
						.twitter-widget
							a.twitter-timeline(href="//twitter.com/search?q=%40wembli",data-link-color="#0088CC", data-theme="dark",data-widget-id="318018385696915459", data-tweet-limit="3", data-chrome="noborders noscrollbar", height="400px" ,width="480px").segoe
							.twitter-right-arrow.hidden-xs.hidden-sm
					.col-md-5.col-md-offset-1.right
						.row
							a.col-xs-4.facebook-link(href="//www.facebook.com/wemblifan")
							a.col-xs-4.blog-link(href="//blog.wembli.com/")
						.row
							a.col-xs-4.twitter-link(href="//twitter.com/wembli")
							a.col-xs-4.gplus-link(href="//plus.google.com/102053515859174299215/posts")
						.row
							.col-md-8.message
								h2 Promos & Insider Info
								.text Here at Wembli we love social networking and connecting with our favorite people – our beloved Wemblizens! That’s why we are all over Facebook, Twitter and Google+.

		section.section7
			.container
				//-
					.footer-social-button.twitter-button.pull-left
						a(href="//twitter.com/wembli", class="twitter-follow-button", data-show-count="false", data-lang="en") Follow @wembli
				.row.social-links
					.col-md-5.col-md-offset-1.footer-social-button.facebook-like-button
						.fb-like(data-href="http://www.wembli.com", data-width="280",data-show-faces="true", data-send="true")
					.col-md-5.col-md-offset-1.footer-social-button.gplus-like-button
						.g-plusone(data-href="http://www.wembli.com", data-annotation="inline", data-width="280")
				.row.links
					a.col-md-2.col-md-offset-1.footer-link(href="http://#{app.settings.host}.wembli.com/about-us") About Us
					a.col-md-2.footer-link(target="_self",href="http://#{app.settings.host}.wembli.com/terms-policies") Terms Of Service & Privacy Policy
					a.col-md-2.footer-link(href="https://plus.google.com/102053515859174299215", rel="publisher") Google+
					.col-md-2.col-md-offset-1.col-xs-2.col-xs-offset-5
						img.img-responsive(src="/img/rackspace-logo.png")
