!!!
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="description",content="")
    meta(name="author",content="")
    link(type="image/x-icon", rel="icon",href="/favicon.ico")
    link(type="image/png", rel="icon",href="/favicon.png")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')

    | 
    | <!--[if lt IE 9]>
    |   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->
    | 
 
    - if ("undefined" !== typeof cssIncludes)
      - each file in cssIncludes
        link(rel="stylesheet", href=file)
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
    - if ("undefined" !== typeof jsIncludes)
      - each file in jsIncludes
        script(type="text/javascript", src=file)
    - if ("production" == environment())
      script(type="text/javascript")
        var _kmq = _kmq || [];
        function _kms(u){
          setTimeout(function(){
            var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
            s.src = u; f.parentNode.insertBefore(s, f);
          }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/93a0d344c13e76907f623cee3af3723ce56f020b.1.js');
      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27420261-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body(id="#{page}")
    div#maincontentWrapper.container
      include includes/header
      section#content!= body
      include includes/footer
