include includes/modals/vote-by
include includes/modals/collect-payment
include includes/modals/purchased-tickets
#planViewOrganizerContainer.planViewContainer.row
	include includes/dashboard/sidebar
	//- include includes/plan-view/organizer-sidebar
	#mainContainer
		msg = req.flash('plan-msg')[0];
		- if (typeof msg != "undefined")
			#mainAlert.alert.alert-success!= msg;
				a.close(data-dismiss="alert") x
		#eventDetails.span6!= partial("includes/event",{cta:false,rating:false,link:false});
		#center.span6
			case plan.config.payment
				when 'self'
					include includes/plan-view/checkout
				when 'group'
					- if (!plan.completed.voting)
						include includes/plan-view/voting
					- else if (!plan.completed.payment)
						include includes/plan-view/payment-status
			#wallContainer
				div(class="fb-comments",data-href="http://#{getAppSettings().host}.wembli.com/plan/view/#{plan.config.guid}",data-num-posts="6",data-width="460")
		#right.span4
			#friendStack.module!= partial("includes/plan-view/friend-stack",{})

