#planViewPublicContainer.planViewContainer
	#mainContainer.row
		#eventDetails!= partial("includes/event",{cta:false,rating:false,link:false,event:req.session.currentPlan.event});
		#left.span8
			#upsell.module
				h3 New To Wembl? Sign Up Here To See Your Invitation
					a#welcomeIcon(href="#")
						i.icon-star.pull-right.icon-white
				.body
					#message.alert.alert-info.hide
					form#signup.well.form-horizontal(method="POST",action="/signup")
						div(style="text-align:center")
							a#facebookLogin.btn.btn-primary(href="/auth/facebook") Click Here To Connect With Facebook
						hr
						strong Sign Up without Facebook:
							- if (typeof errors != "undefined" && errors.length > 0)
								span.error #{errors[0]}
						br
						br
						input.redirect-url(type="hidden",name="redirectUrl",value="")
						fieldset
							.control-group
								label.control-label(for="firstName") First Name
								.controls
									input#firstName(name="first_name",value="#{friend.firstName}")
							.control-group
								label.control-label(for="lastName") Last Name
								.controls
									input#lastName(name="last_name",value="#{friend.lastName}")
							.control-group
								label.control-label(for="email") Email Address
								.controls
									input#email(name="email",value="#{friend.email}")
							.control-group
								label.control-label(for="password") Password
								.controls
									input#password(type="password",name="password")
							.control-group
								label.control-label(for="password2") Confirm Password
								.controls
									input#password2(type="password",name="password2")
							.form-actions
								button.btn.btn-primary.btn-large(type="submit").right Sign Up
		#right.span4
			#publicLogin.module
				h3 Login
					a#publicLoginIcon(href="#")
						i.icon-user.pull-right.icon-white
				.body
					.generalError.error.yellow
						- if((typeof errors !== 'undefined') && (errors.general) )
							| Incorrect Email or Password.
						- if((typeof errors !== 'undefined') && (errors.facebook) )
							| Unable to login through facebook.
					form#publicLoginForm.form-vertical.well(method="post",action="/login",enctype="application/x-www-form-urlencoded")
						input.redirect-url(type="hidden",name="redirectUrl",value="")
						fieldset
							.control-group
								label.control-label(for="email") Email:
								.controls
									input#publicEmail(type="text",value=(req.session.remember ? params.email : friend.email),name="email")
							.control-group
								label.control-label(for="password") Password:
								.controls
									input(type="password",value="",name="password")
							.control-group
								.controls
									input#publicRememberInput(type="checkbox",name="remember",checked=params.remember)
									label#publicRememberLabel.control-label(for="remember") Remember Me
							.form-actions
								a#publicForgotPasswordLink(href="#forgotPasswordModal",data-toggle="modal") forgot your password?
								button#publicLoginSubmitButton.btn.btn-primary.btn-large Login
			script
				$(document).ready(function() {
					$('#publicForgotPasswordLink').click(function(e) {
						$('#publicLoginModal').modal('hide');
					});
					$('#publicLoginForm #publicSignupLink').click(function(e) {
						$('#publicLoginModal').modal('hide');
					});
				});


