extends layout
block content
	//- set up some string vars to be used in this template
	heading       = 'Upcoming Events';
	url           = '/search/events/';
	seeMore       = 'See more events';
	lastEventDate = '';
	lastEventId   = undefined;
	- if ((typeof events != "undefined") && (typeof events[0] !== "undefined"))
		- lastEventDate = new Date(events[events.length-1].Date).format('mm-dd-yy');
		- lastEventId = events[events.length-1].ID;

	- if (req.session.visitor.tracking.city)
		- heading += ' Near '+req.session.visitor.tracking.city;
		- url     += req.session.visitor.tracking.city+'/';
		- seeMore += ' near '+req.session.visitor.tracking.city;

	- if (search)
		- heading = 'Events matching "'+search+'"'
		- seeMore = 'See more events matching "'+search+'"'
		- var placeholder = search
		- url = '/search/events/' + search + '/';
	- else
		- var search = "";
		- var placeholder = 'Enter an event, team or venue...'
	- url += Date.today().format("mm-dd-yy")
	#search(ng-controller="SearchCtrl")
		input(type="hidden", name="search", value="#{search}", ng-init="search='#{search}'")
		input(type="hidden", name="city", value="#{req.session.visitor.tracking.city}", ng-init="city='#{req.session.visitor.tracking.city}'")
		input(type="hidden", name="postalCode", value="#{req.session.visitor.tracking.postalCode}", ng-init="postalCode='#{req.session.visitor.tracking.postalCode}'")
		input(type="hidden", name="lastEventDate", ng-init="lastEventDate='#{lastEventDate}'", value="#{lastEventDate}")
		input(type="hidden", name="lastEventId", ng-init="lastEventId='#{lastEventId}'", value="#{lastEventId}")

		#no-event-modal.modal.fade
			.modal-dialog
				#no-event.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal")&times;
						h3.modal-subtitle Unfortunately tickets for this event are no longer available :(
					.modal-body.container-fluid
						.form-group
							button.btn.btn-default.form-control.close(type="button", data-dismiss="modal") Back to Search
		#payment-type-shade.slide-in-down(ng-cloak, ng-show="showPaymentType")
			.payment-type-header.slide-in-down-header
				a(href="#")
					i.fa.fa-times.fa-2x(ng-click="closePaymentModal()").pull-right
				h2.modal-title {{eventData.Name}}
				h4.modal-subtitle Get Tickets Now? Or Invite Friends?
			.payment-type-body.slide-in-down-body.row
				.col-md-6.col-xs-12.option-container
					.option-content
						h3 Invite Friends First
						p.option-body Tired of getting stuck with the bill? Breathe easy, just have your friends pony up before shelling out any cash.
						button.btn.btn-primary.btn-sm.form-control(ng-click="splitFirst()") Split With Friends
				.col-md-6.col-xs-12.option-container.middle-option
					.option-content
						h3 Get Tickets First
						p.option-body Want to guarantee you all get seats together?  Buy the tickets now then, if you want, you can use Wembli to split the bill later.
						button.btn.btn-primary.btn-sm.form-control(ng-click="splitAfter()") Find Tickets Now
			//-
				.col-md-4.col-xs-12.option-container
					.option-content
						h3 I Want To Buy Tickets Now
						p Search for your event, buy your tickets and you're on your way!
						button.btn.btn-primary.btn-sm.form-control(ng-click="noSplit()") Find Tickets

		.container
			.row
				#search-left.col-md-4.hidden-xs.hidden-sm
					img(src="/images/search-arrow.png").img-responsive.search-arrow
					.copy.segoe Search for the event you want to go to...
					img(src="/images/question.png").img-responsive.wembliman

				#search-right.col-md-8.col-xs-12
					.search-box
						form#search-form.search-form.clearfix(method="GET", action="/search/events", ng-submit="submitSearch()")
							i.fa.fa-search.pull-left(ng-hide="searchInProgress")
							i.fa.fa-cog.fa-spin.pull-left(ng-show="searchInProgress")
							input#query.pull-left(type="text", ng-model="search", name="search", placeholder="enter an event, team or venue, city or zip code")
							button.btn.btn-secondary.segoe.pull-left(href="#") search

					.results(ng-controller="EventListCtrl")
						//- event list
						#event-list-wrapper
							h3= heading
							ul.event-list-waypoint
								if ((typeof events !== "undefined") && (typeof events[0] !== "undefined"))
									each event in events
										li.row.show-ticket-range(event-id="#{event.ID}",name="#{event.Name}",id="#{event.ID}-wrapper")
											- var lastSearch = visitor.lastSearch ? visitor.lastSearch : '/search';
											- lastSearch += '?updateEvent=1';
											- var date = new Date(Date.parse(event.Date));
											- var location = event.City+', '+event.StateProvince;
											- var payment;
											- if (typeof btnText === "undefined")
												- var btnText = 'Plan It';
											- if ((typeof plan !== "undefined") && (typeof plan.preferences !== "undefined"))
												- payment = plan.preferences.payment;
											.col-sm-2.col-xs-12
												.event-date-box
													span.day!=        date.format("ddd")
													span.event-date!= date.format("mmm d")
													span.time!=       date.format("h:MM TT")
											.col-sm-7.col-xs-12
												.info.text-center
													span.name.block= event.Name
													span.venue.block= (typeof event.Venue.Name != "undefined") ? event.Venue.Name : event.Venue
													span.location.block= location
													- if (typeof changeEvent != "undefined" && changeEvent == true)
														span.changeEvent.block
															a#changeEvent(href="http://#{app.settings.host}.wembli.com/search/#{lastSearch}") Change Event
											.col-sm-3.col-xs-12
												.row
													.cta.col-xs-12
														a.btn.btn-primary.prevent-default.form-control(ng-click="openPaymentModal({ID: \"#{event.ID}\",Name: \"#{event.Name}\"})",id="#{event.ID}", name="#{event.Name}", href="/tickets/"+event.ID+"/"+event.Name) Start Plan
												.row
													.ticket-range.col-xs-12
														i.fa.fa-cog.fa-spin(ng-show="ticketSummaryData['#{event.ID}'].locked")
														span.visible-xs.visible-sm
															span(ng-hide="ticketSummaryData['#{event.ID}'] || ticketSummaryData['#{event.ID}'].locked") Tap for ticket price range.
									//- this is needed for the more events client side functionality
									li.row.show-ticket-range(event-id="{{event.ID}}",name="{{event.Name}}",id="{{event.ID}}-wrapper",ng-repeat="event in events track by $index")
										- var lastSearch = req.session.lastSearch ? req.session.lastSearch : '/search';
										- lastSearch += '?updateEvent=1';
										- var payment;
										- if ((typeof plan !== "undefined") && (typeof plan.preferences !== "undefined"))
											- payment = plan.preferences.payment;
										.col-xs-12.col-sm-2
											.event-date-box
												span.day {{getDate(event.Date)| date:'EEE'}}
												span.event-date {{getDate(event.Date)| date:'MMM d'}}
												span.time {{getDate(event.Date)| date:'h:mm a'}}
										.col-xs-12.col-sm-7
											.info.text-center
												span.name.block {{event.Name}}
												span.venue.block {{ event.Venue.Name || event.Venue }}
												span.location.block {{event.City+', '+event.StateProvince}}
												- if (typeof changeEvent != "undefined" && changeEvent == true)
													span.changeEvent.block
														a#changeEvent(href="http://#{app.settings.host}.wembli.com/search/#{lastSearch}") Change Event
										.col-xs-12.col-sm-3
											.row
												.col-xs-12
													a.btn.btn-primary.prevent-default.form-control(ng-href="/tickets/{{event.ID}}/{{event.Name}}", ng-click="openPaymentModal(event)") Start Plan
											.row
												.ticket-range.col-xs-12
													i.fa.fa-cog.fa-spin(ng-show="ticketSummaryData[event.ID].locked")
													span.visible-xs.visible-sm
														span(ng-hide="ticketSummaryData[event.ID] || ticketSummaryData[event.ID].locked") Tap for ticket price range.

									li.row.loading-more-events(ng-show="loadingMoreEvents")
										.icon.col-sm-2
											i.fa.fa-cog.fa-spin.fa-2x.pull-left
										.message.col-sm-10
											span loading more events...

									li.hide(ng-init="noMoreEvents=false")
								else
									li.hide(ng-init="noMoreEvents=true")

								li.no-results(ng-show="noMoreEvents")
									.notify-email(type="search")
										.collect-email(ng-hide="emailCollected")
											p Aww shucks! We haven't got any more event listings to show you.  Enter your email below if you'd like to be notified when events become available.
											fieldset
												input#email
										.collected-email(ng-show="emailCollected")
											p OK! We'll let you know if any events become available!
										.clearfix
											.back-to-search.pull-left
												a(href="/search") << Perform a new search
											button.btn.btn-primary.pull-right(ng-hide="emailCollected",ng-click="collectEmail()") Notify Me!




