include includes/modals/vote-by
- if (!session.loggedIn)
	script(type="text/javascript")
		$(document).ready(function() {
			FB.getLoginStatus(function(response) {
				console.log('getloginstatus: ');
				console.log(response);
				if (response.status === 'connected') {
					var uid = response.authResponse.userID;
					var accessToken = response.authResponse.accessToken;
					location.replace('/auth/facebook');
				} else {
					$('.redirect-url').each(function(idx,el) {
						$(el).val('/summary');
					});
					$('#signupModal #message').html("You've done a lot of work.  Sign up for Wembli now to make sure your plan is saved.").show();
					$('#signupModal').modal({backdrop:'static',show:true,keyboard:false});
				}
			});
		});
#eventBuilderContainer!= partial("widgets/event-builder",{});
#breadcrumbsContainer!= partial("includes/event-builder-breadcrumbs",{});
//- compute the summary width
- var summaryWidth = 400;
- if (typeof session.currentPlan.friends != "undefined")
	- summaryWidth += 360;
- if (typeof session.currentPlan.tickets != "undefined")
	- summaryWidth += 440;
#summaryContainer
	#summaryModules.row(style="width:#{summaryWidth}px")
		- if (typeof plan.friends != "undefined")
			#friends.module
				h3 Who's Going:
				.body
					- for (var idx in plan.friends)
						- var rowClass = (idx % 2) ? 'oddRow' : 'evenRow';
						- var friend = session.currentPlan.friends[idx]; 
						.friend.clearfix(class="#{rowClass}")
							.name
								span!= idx+'. '
								strong!= friend.firstName + ' ' + friend.lastName
							- if (friend.addMethod == 'facebook')
								.email Invitation will be posted to #{friend.firstName}'s facebook wall
							- else
								.email Invitiation will be emailed to #{friend.email}
					- if (Object.keys(plan.friends).length == 0) 
	
				.footer
					a#inviteMoreFriends.btn.btn-success.btn-large(href="/plan/friends") Manage Invitees
		- if (typeof session.currentPlan.tickets != "undefined")
			#tickets.center.module
				h3 Tickets:
				.body
					- var idx = 0
					- for (ticketId in session.currentPlan.tickets)
						- idx++;
						- var rowClass = (idx % 2) ? 'oddRow' : 'evenRow';
						- var ticket = plan.tickets[ticketId]
						- var qtyStr = ticket.TicketQuantity
						- qtyStr += (ticket.TicketQuantity > 1) ? " tickets " : " ticket "
						- var friendCnt = 1
						- if (typeof session.currentPlan.friends != "undefined")
							- for friend in session.currentPlan.friends
								- if (typeof friend.decision != "undefined" && !friend.decision)
									- continue;
								- else
									- friendCnt++;
						a.ticketOption(class="#{rowClass}",href="#")
							- if (parseInt(ticket.TicketQuantity) < friendCnt)
								.alert 
									strong Warning: 
									span There are more invitees than tickets in this ticket group.
							- if (parseInt(ticket.TicketQuantity) > friendCnt)
								- var err = true;
								- if ((typeof ticket.ValidSplits != "undefined") && (typeof ticket.ValidSplits.int != "undefined"))
									- for (var i in ticket.ValidSplits.int)
										- if (parseInt(ticket.ValidSplits.int[i]) == friendCnt)
											- var err = false;
											- break;
								- if (err)
									.alert 
										strong Warning: 
										span This ticket group cannot be split to accomodate your group size.
							.info
								#ticketSeat= "Section: "+ticket.Section + " - Row: " + ticket.Row
								.seats!= (ticket.LowSeat == '*') ? "" : "Seats: "+ticket.LowSeat + '-' + ticket.HighSeat 
								span.rating.block
									em Wembli Rating:
									span.stars!= (ticket.Rating ? ticket.Rating : 0)
									br
									em.ratingDescription!= ticket.RatingDescription
							.ticket-price-box!= partial('includes/ticket-price-box',{ticket:ticket});
							include includes/plan-view/ticket/cost-breakdown
				.footer
					a#ticketButton.btn.btn-success.btn-large(href="/plan/tickets") CHANGE TICKET OPTIONS
	
		#whatNext.span5
			h3 What Happens Next?
			hr
			.body
				ul
					li Clicking Send RSVP will send an invitation to your friends.
					li Friends will be able to vote on these ticket options.
					li Votes help you decide which tickets work best.
					li Each friend pays their portion into your PayPal account.
					li You buy the tickets using the money deposited by your friends.
					
