
//event data looks like this right now:
//   { ChildCategoryID: '63',
//     City: 'San Diego',
//     Clicks: '0',
//     Date: '2012-04-03T19:05:00',
//     DisplayDate: '04/03/2012 7:05PM',
//     GrandchildCategoryID: '16',
//     ID: '1788398',
//     IsWomensEvent: 'false',
//     MapURL: 'http://seatics.tickettransaction.com/PetcoPark_SanDiegoPadres_2011-12-06_2011-12-06_1000_tn.gif',
//     Name: 'MLB Exhibition: San Diego Padres vs. Kansas City Royals',
//     ParentCategoryID: '1',
//     StateProvince: 'CA',
//     StateProvinceID: '5',
//     Venue: 'Petco Park',
//     VenueConfigurationID: '2947',
//     VenueID: '1295',
//     CountryID: '217' }

script!= 'var ticketList='+fanvenuesTicketList(tickets)+';'
#eventBuilderContainer!= partial("widgets/event-builder",{eventBuilder:session.eventBuilder,actionArgs:{step:'tickets'}});
#ticketsContent
	#thumbnail.thumbnail.hide
	- if (typeof tickets != "undefined")
		.ticket-list.span5!=partial("widgets/ticket-list",{tickets:tickets});
	- else
		#noTickets No tickets available for this event.
	#fvmap
	input#venueId(type="hidden",value=event.VenueID)
	input#eventName(type="hidden",value=event.Name)
#staticMapContainer.hide
	#staticMap
		img(src="#{event.MapURL}")