script!= 'var ticketList='+fanvenuesTicketList(tickets)+';'
#eventBuilderContainer!= partial("widgets/event-builder",{});
- if (session.isOrganizer)
	#breadcrumbsContainer!= partial("includes/event-builder-breadcrumbs",{});
#ticketsContent
	#thumbnail.thumbnail.hide
	- if ((typeof tickets != "undefined") && (tickets.length > 0))
		.ticket-list.span5!=partial("widgets/ticket-list",{tickets:tickets});
	- else
		.ticket-list.span5
			#noTickets No tickets available for this event.
	#fvmap
	input#venueId(type="hidden",value=session.currentPlan.event.VenueID)
	input#eventName(type="hidden",value=session.currentPlan.event.Name)
#staticMapContainer.hide
	#staticMap
		- if (typeof session.currentPlan.event.MapURL == "string")
			img(src="#{session.currentPlan.event.MapURL}")
		- else
			#mapNotFound Venue Map Not Available