//- learn more about this event
//- thousands of people just like you use wembli to easily create amazing experiences with their friends
//- over 100,000 events and counting
//- wembli is absolutely free to use
//- learn more about wembli
//- what is wembli: wembli is a startup out of San Diego, CA dreamed up by a husband and wife team that with a passion for making it easy to bring people together. Join us on this journey: How can we make it easier for you to get together with your friends?
//- start using wembli to organize an outing right now
//- overlay on mouse exit - need more information about this event? contact us and we'll help you out!
//- map of venue
//- parking listings
//- restaurant listings
//- hotel listings

extends layout
block content
	- var yourCity = "";
	- if (typeof visitor.tracking.city !== "undefined")
		- yourCity = "NEAR "+visitor.tracking.city;
	#index()
		section.section1.hidden-xs
			img.img-responsive(src="/images/seating.jpg")

		section.section2.container
			.event(itemscope, itemtype="http://schema.org/Event")
				h1.name(itemprop="name") #{event.title}
				.row.categories.breadcrumbs(itemscope, itemtype="http://schema.org/WebPage")
					ol.breadcrumb(itemprop="breadcrumb")
						if (slugs.category && slugs.category !== '')
							li
								a(href="http://#{app.settings.host}.wembli.com/#{slugs.category}") #{event.categories.category.name}
						if (slugs.subcategory && slugs.subcategory !== '')
							li
								a(href="http://#{app.settings.host}.wembli.com/#{slugs.category}/#{slugs.subcategory}") #{event.subcategories.subcategory.short_name}
				.row
					if (typeof event.image !== "undefined" && typeof event.image.url !== "undefined")
						.col-md-2
							img(itemprop="image", src="#{event.image.url}")
						.col-md-10
							.row
								.col-xs-12
									h2.name(itemprop="name") #{event.title}

							.row
								.col-xs-12
									h3(itemprop="startDate") When:
									.when #{event.start_time}
							if (typeof performers !== "undefined")
								.row
									.col-xs-12
										if (event.categories.category.name === 'Sports')
											- var itemtype = "http://schema.org/SportsTeam"
										else
											- var itemtype = "http://schema.org/PerformingGroup"
										h3(itemprop="performer") Who:
										.who
											a(itemprop="url", itemscope, itemtype="#{itemtype}", href="//#{app.settings.host}.wembli.com/#{slugs.performer}") #{performers[0].name}

							if (typeof venue !== "undefined")
								.row
									.col-xs-12
										h3(itemprop="location", itemscope, itemtype="http://schema.org/EventVenue") Where:
										.where
											a(itemprop="url", href="//#{app.settings.host}.wembli.com/venues/#{slugs.venue}").venue-name #{venue.name}
											if ((typeof venue !=="undefined") && venue.address && venue.address !== "")
												address.venue-address
													span.address-street #{venue.address}
													br
													a.address-locality(href="//#{app.settings.host}.wembli.com/events/#{slugs.country}/#{slugs.region}/#{slugs.city}")= venue.city + ', '
													a.address-region(href="//#{app.settings.host}.wembli.com/events/#{slugs.country}/#{slugs.region}")= venue.region+', '
													a.address-country(href="//#{app.settings.host}.wembli.com/events/#{slugs.country}")= venue.country+ ' '
													br
													span.address-postal-code= venue.postal_code




					else
						.col-md-12

							.row
								.col-xs-12
									h2.name(itemprop="name") #{event.title}
							.row
								.col-xs-12
									h3(itemprop="startDate") When:
									.when #{event.start_time}
							if (typeof performers !== "undefined")
								.row
									.col-xs-12
										if (event.categories.category.name === 'Sports')
											- var itemtype = "http://schema.org/SportsTeam"
										else
											- var itemtype = "http://schema.org/PerformingGroup"
										h3(itemprop="performer") Who:
										.who
											a(itemprop="url", itemscope, itemtype="#{itemtype}", href="//#{app.settings.host}.wembli.com/#{slugs.performer}") #{performers[0].name}

							if (typeof venue !== "undefined")
								.row
									.col-xs-12
										h3(itemprop="location", itemscope, itemtype="http://schema.org/EventVenue") Where:
										.where
											a(itemprop="url", href="//#{app.settings.host}.wembli.com/venues/#{slugs.venue}") #{venue.name}
											if ((typeof venue !=="undefined") && venue.address && venue.address !== "")
												address.venue-address
													span.address-street #{venue.address}
													br
													a.address-locality(href="//#{app.settings.host}.wembli.com/events/#{slugs.country}/#{slugs.region}/#{slugs.city}")= venue.city + ', '
													a.address-region(href="//#{app.settings.host}.wembli.com/events/#{slugs.country}/#{slugs.region}")= venue.region+', '
													a.address-country(href="//#{app.settings.host}.wembli.com/events/#{slugs.country}")= venue.country+ ' '
													br
													span.address-postal-code= venue.postal_code

				if (typeof event.description !== "undefined")
					.row
						.col-md-12
							h3 More Information:
							.description(itemprop="description") !{event.description}

				.row
					.col-xs-12.cta
						a.btn.btn-primary.btn-lg.form-control(href="/signup") Check Out The Tickets!


		section.section3.container
			.row
				.col-xs-12
					p Wembli lets you find tickets and choose from add ons like: Parking, Restaurants, Hotel & Bill Splitting with Friends - all in one place!
