extends layout
block content
	//- replace amp with and so link works
	- slugs.category = slugs.category.replace(/-amp-/gi,"-and-")
	- slugs.subcategory = slugs.subcategory.replace(/-amp-/gi,"-and-")

	.container.event-venue(itemscope, itemtype="http://schema.org/PerformingGroup")
		h1.name(itemprop="name") #{performer.name}
		.row.categories.breadcrumbs(itemscope, itemtype="http://schema.org/WebPage")
			ol.breadcrumb(itemprop="breadcrumb")
				if (categories[0])
					li
						a(href="http://#{app.settings.host}.wembli.com/#{slugs.category}") #{categories[0].category.name}
				if (categories[0] && categories[0].subcategory)
					li
						a(href="http://#{app.settings.host}.wembli.com/#{slugs.category}/#{slugs.subcategory}") #{categories[0].subcategory.short_name}
		.row
			.col-md-12
				.short-bio!= performer.short_bio
		.row
			.col-md-12
				.long-bio!= performer.long_bio

		include includes/performer-event-list
