.friend.clearfix(class="#{rowClass}",id="#{id}")
	.info.clearfix
		.status.pull-left
			span(class="label #{labelType}")
				i(class="icon-white #{labelIcon}")
				span!= ' '+labelCaption
		.name.pull-left!= ' ' + firstName + ' ' + lastName 
	- if (session.isOrganizer && (typeof friend != "undefined"))

		- if (typeof friend.collectVote != "undefined")
			.invitationEmailStatus.clearfix
				.emailType.pull-left
					i.icon-envelope 
					span &nbsp;Invitation Email: 
				.emailLabel.pull-left
					- if (typeof friend.collectVote.delivered != "undefined")
						span.label.label-info sent
						span &nbsp;
							- if (typeof friend.collectVote.open != "undefined")
								span.label.label-info opened
							- else
								span.label unopened
					- else
						span.label en route
				a.emailAction.pull-right(id="invitation-#{id}",href="#")
					i.icon-repeat
					span &nbsp;Resend

		- if (typeof friend.collectPayment != "undefined")
			.paymentEmailStatus.clearfix
				.emailType.pull-left
					i.icon-envelope 
					span &nbsp;Payment Email: 
				.emailLabel.pull-left
					- if (typeof friend.collectPayment.delivered != "undefined")
						span.label.label-info sent
						span &nbsp;
							- if (typeof friend.collectPayment.open != "undefined")
								span.label.label-info opened
							- else
								span.label unopened
					- else
						span.label not sent
				a.emailAction.pull-right(id="payment-#{id}",href="#")
					i.icon-repeat
					span &nbsp;Resend

		- if (typeof friend.collectVote == "undefined")
			.invitationEmailStatus.clearfix
				.emailType.pull-left
					i.icon-envelope 
					span &nbsp;Invitation Email: 
				.emailLabel.pull-left
						span.label not sent
				a.emailAction.pull-right(id="invitation-#{id}",href="#")
					i.icon-repeat
					span &nbsp;Send

		- if (typeof friend.collectPayment == "undefined")
			.paymentEmailStatus.clearfix
				.emailType.pull-left
					i.icon-envelope 
					span &nbsp;Payment Email: 
				.emailLabel.pull-left
						span.label not sent
				a.emailAction.pull-right(id="payment-#{id}",href="#")
					i.icon-repeat
					span &nbsp;Send

