brokerId = '5006'
siteNumber = '0'
tnUrl = 'https://tickettransaction2.com/Checkout.aspx?brokerid='+brokerId+'&sitenumber='+siteNumber;
skippedCnt = 0;
validCnt = 0;
ticket = finalTicketChoice;
ticketLink = tnUrl+'&tgid='+ticket.ID+'&evtid='+ticket.EventID+'&price='+ticket.ActualPrice+'&treq='+ticket.selectedQty+'&SessionId='+ticketSessionId()
shipping = 15;
serviceCharge = (ticket.ActualPrice * .15) * ticket.selectedQty;
actualPrice = ticket.ActualPrice * ticket.selectedQty;
totalPrice = parseFloat(actualPrice) + parseFloat(serviceCharge) + parseFloat(shipping) + parseFloat((actualPrice * 0.029));
venueMapUrl  = '/plan/tickets/'+plan.config.guid;
venueMapText = 'View Tickets On Venue Map';
#planOptionsContainer.planOptions.module
	h3 Plan
		a#ticketsIcon(href="#")
			i.icon-info-sign.pull-right.icon-white				
	.body
		#ticketsContainer
			.header.clearfix
				h4.pull-left Tickets:
				.ticketActions.pull-right
					a(href="#{venueMapUrl}")!= venueMapText
			#ticketsTotal
				.totalHeader.pull-left
					span Estimated Total Price For #{ticket.selectedQty} Tickets:
				.total.pull-right
					strong#totalPrice(style="text-align:right")!= '$'+parseFloat(totalPrice).toFixed(2)
				hr
			a#finalChoice.ticketOption(target="_blank",href="#{ticketLink}")
				.infoContainer
					input#finalTicketId(type="hidden",value="#{ticket.ID}")
					.info
						#ticketSeat= "Section: "+ticket.Section + " - Row: " + ticket.Row
						.seats!= (ticket.LowSeat == '*') ? "" : "Seats: "+ticket.LowSeat + '-' + ticket.HighSeat 
						span.rating.block
							em Wembli Rating:
							span.stars!= (ticket.Rating ? ticket.Rating : 0)
							br
							em.ratingDescription!= ticket.RatingDescription
					p.cta
						button#buyTickets.btn.btn-success Buy Tickets
					.ticket-price-box
						include ../ticket-price-box
					include ticket/cost-breakdown
	