block header
	header#header.clearfix(header="#header",scroll="window")
		nav.navbar(role="navigation")
			.container
				.navbar-brand.navbar-left
					a(href="//#{app.settings.host}.wembli.com/")
						img.img-responsive.logo-35(src="/images/wembli-logo-35.png")

				ul.nav.navbar-nav.navbar-right
					li
						a(href="//#{app.settings.host}.wembli.com/") HOME
					li
						a(href="//#{app.settings.host}.wembli.com/features") FEATURES
					li
						a(href="//#{app.settings.host}.wembli.com/about-us") ABOUT
					li
						a(href="//#{app.settings.host}.wembli.com/faqs") FAQS
					li
						a(href="//#{app.settings.host}.wembli.com/contact") CONTACT
					li
						a(href="//#{app.settings.host}.wembli.com/login") LOGIN



