- var nav = planNav(req.session.visitor.context)
#plan-nav.affix
	.spacer
	.line
	a.plan-section-nav.wembli-sequence-link(href="/dashboard",direction="0")
		i.icon-dashboard.icon-2x
		div
			span Back To Dashboard
	each navItem in nav
		a(class="plan-section-nav scroll-to",ng-click="gotoSection('#{navItem.section}')",href="#{navItem.href}",id="#{navItem.id}")
			i(class="#{navItem.icon}").icon-2x
			div
				span #{navItem.text}
				i.icon-double-angle-right.pull-right

