- var nav = planNav(req.session.visitor.context, req.session.plan.preferences.payment)
#plan-nav
	a.plan-section-nav(href="/dashboard",direction="0")
		.icon-dashboard.icon-3x
		div dashboard
	each navItem in nav
		a(class="plan-section-nav scroll-to",ng-click="gotoSection('#{navItem.section}')",href="#{navItem.href}",id="#{navItem.id}")
			.icon-3x(class="#{navItem.icon}")
			div #{navItem.text}

