//- venue data and event data
.container.event-venue(itemscope, itemtype="http://schema.org/EventVenue")
	h1.name(itemprop="name")= venue.Name
	.row.breadcrumbs(itemscope, itemtype="http://schema.org/WebPage")
		ol.breadcrumb(itemprop="breadcrumb")
			if (venue.Country && venue.Country !== '')
				li
					a(href="http://#{app.settings.host}.wembli.com/venues/#{slugs.country}") #{venue.Country}
			if (venue.StateProvince && venue.StateProvince !== '')
				li
					a(href="http://#{app.settings.host}.wembli.com/venues/#{slugs.country}/#{slugs.state}") #{venue.StateProvince}
			if (venue.City && venue.City !== '')
				li
					a(href="http://#{app.settings.host}.wembli.com/venues/#{slugs.country}/#{slugs.state}/#{slugs.city}") #{venue.City}

	if (venue.Street1 && venue.Street1 !== '')
		address.venue-address(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
			span.address-street(itemprop="streetAddress")= venue.Street1
			br
			span.address-locality(itemprop="addressLocality")= venue.City + ', '
			span.address-region(itemprop="addressRegion")= venue.StateProvince+', '
			span.address-country(itemprop="addressCountry")= venue.Country+ ' '
			span.address-postal-code(itemprop="postalCode")= venue.ZipCode
			br
			if (venue.BoxOfficePhone && venue.BoxOfficePhone !== '')
				span.venue-box-office-phone(itemprop="telephone")= venue.BoxOfficePhone
				br

	.row.venue-info
		if (venue.Capacity && venue.Capacity !== '')
			.venue-capacity.col-md-4.clearfix
				strong.pull-left Capacity:
				.pull-left= venue.Capacity

		if (venue.Directions && venue.Directions !== '')
			.venue-directions.col-md-4
				strong.pull-left Directions:
				.pull-left= venue.Directions

		if (venue.Notes && venue.Notes !== '')
			.venue-notes.col-md-4
				strong.pull-left Notes:
				.pull-left= venue.Notes

		if (venue.Rules && venue.Rules !== '')
			.venue-rules.col-md-4
				strong.pull-left Rules:
				.pull-left= venue.Rules

		if (venue.ChildRules && venue.ChildRules !== '')
			.venue-child-rules.col-md-4
				strong.pull-left Child Rules:
				.pull-left= venue.ChildRules

		if (venue.WillCall && venue.WillCall !== '')
			.venue-will-call.col-md-4
				strong.pull-left Will Call:
				.pull-left= venue.WillCall

		if (venue.Parking && venue.Parking !== '')
			.venue-parking.col-md-4
				strong.pull-left Parking:
				.pull-left= venue.Parking

		if (venue.PublicTransportation && venue.PublicTransportation !== '')
			.venue-public-transportation.col-md-4
				strong.pull-left Public Transportation
				.pull-left= venue.PublicTransportation

	ul.nav.nav-tabs.venue-configurations-tabs
		each c,idx in venue.configurations
			- var active = idx == 0 ? 'active' : '';
			li.venue-configuration-tab(class="#{active}")
				a.description(itemprop="description", href="#config-#{idx}", data-toggle="tab")= c.TypeDescription
	.tab-content.venue-configurations
		each c,idx in venue.configurations
			- var active = idx == 0 ? 'active' : '';
			.tab-pane.venue-configuration(class="#{active}",id="config-#{idx}")
				.media.venue-map.center-block.clearfix
					a.pull-left(href="#", data-toggle="modal", data-target="#configuration-#{idx}-modal")
						img.venue-map.media-object(itemprop="map", src="//seatics.tickettransaction.com/#{c.MapURL}")
					.media-body
						h2.configuration-name= c.TypeDescription
						.clearfix
							strong.pull-left Capacity:
							.pull-left.capacity(itemprop="capacity")= c.Capacity
					.modal.fade(id="configuration-#{idx}-modal")
						.modal-dialog
							.modal-content
								.modal-header
									button.close(type="button",aria-hidden="true")&times;
									h2= c.TypeDescription
								.modal-body.photo.center-block(itemscope itemtype="http://schema.org/ImageObject")
									img.venue-map(itemprop="contentURL", src="//seatics.tickettransaction.com/#{c.MapURL}")

	include venue-event-list
