#eventsAttendingContainer.dashboardEventList.module
	h3 Events I'm Invited To
	.body
		ul
			- if ((typeof attending !="undefined") && (attending.length > 0))
				- each plan in attending
					- if (typeof plan.config != "undefined")
						- if ((typeof plan.config.deleted != "undefined") && (plan.config.deleted)) 
							- continue;
						- if (typeof plan.event == "undefined")
							- continue;
						- var date = new Date(Date.parse(plan.event.Date))
						- var token = null;
						- var action = 'collectVote';
						- for (var i in plan.friends)
							- var f = plan.friends[i]
							- if ((typeof f.me != "undefined") && (f.me))
								- if (typeof(f.token) == "undefined")
									- continue
								- var token = f.token.token;
								- if ((typeof f.decision != "undefined") && (f.decision))
									- action = 'collectPayment'
								- break;
						- if (typeof(f.token) == "undefined")
							- continue
						li
							a.event(href="/plan/view/#{plan.config.guid}/#{token}/#{action}")
								input.eventGuid(name="eventGuid",value="#{plan.config.guid}",type="hidden")
								.info
									.name #{plan.event.Name}
									.venue!= (typeof plan.event.Venue.Name != "undefined") ? plan.event.Venue.Name : plan.event.Venue
									.location!= plan.event.City+', '+plan.event.StateProvince
								.event-date-box
									span.day!=        date.format("ddd")
									span.event-date!= date.format("mmm d")
									span.time!=       date.format("h:MM TT") 
						li.empty
							hr
					- else
						li.empty Search for an event above to start planning.
			- else
				li.empty You have not been invited to any events yet :(
	