table.table(style="font-size:11px;")
	thead
		tr
			th(colspan="2")
				strong Note: 
				span These tickets are NOT on hold for you.
	tbody
		tr
			td Ticket Price:
			td(style="text-align:right")!= '$'+parseFloat(actualPrice).toFixed(2)
		tr
			td Est. Ticket Network Service Charge:
			td(style="text-align:right")!= '$'+parseFloat(serviceCharge).toFixed(2)
		tr
			td Est. Standard Delivery:
			td(style="text-align:right")!= '$'+parseFloat(shipping).toFixed(2)
		tr
			td Credit Card Transaction Fee:
			td(style="text-align:right")!= '$' + parseFloat((actualPrice * 0.029)).toFixed(2)
		tr
			td(style="text-align:right;font-weight:bold;") Estimated Total Per Person:
			- var total = parseFloat(actualPrice) + parseFloat(serviceCharge) + parseFloat(shipping) + parseFloat((actualPrice * 0.029));
			td(style="text-align:right")!= '$'+total.toFixed(2)
