- if (plan.config.payment == 'self')
	shipping = 15;
	serviceCharge = (ticket.ActualPrice * .15) * ticket.selectedQty;
	actualPrice = ticket.ActualPrice * ticket.selectedQty;
- else
	shipping = 15/friendsCount;
	serviceCharge = (ticket.ActualPrice * .15)/friendsCount;
	actualPrice = ticket.ActualPrice;
- if (typeof costBreakdownNote == "undefined")
	costBreakdownNote = 'These tickets are NOT on hold for you.';
hide = 'hide';
- if ((typeof noHideCostBreakdown != "undefined") && (noHideCostBreakdown))
	hide = '';
.costBreakdown(class="#{hide}")
	table.table(style="font-size:11px;")
		thead
			tr
				th(colspan="2")
					strong Note: 
					span #{costBreakdownNote}
		tbody
			tr
				td Ticket Price:
				td#ticketPrice(style="text-align:right")!= '$'+parseFloat(actualPrice).toFixed(2)
			tr
				td Est. Ticket Network Service Charge:
				td#serviceCharge(style="text-align:right")!= '$'+parseFloat(serviceCharge).toFixed(2)
			tr
				td Est. Standard Delivery:
				td#delivery(style="text-align:right")!= '$'+parseFloat(shipping).toFixed(2)
			tr
				td Credit Card Transaction Fee:
				td#transactionFee(style="text-align:right")!= '$' + parseFloat((actualPrice * 0.029)).toFixed(2)
			tr
				td(style="text-align:right;font-weight:bold;") Estimated Total:
				- var total = parseFloat(actualPrice) + parseFloat(serviceCharge) + parseFloat(shipping) + parseFloat((actualPrice * 0.029));
				td#estimatedTotal(style="text-align:right")!= '$'+total.toFixed(2)
	