- if ((typeof ticket.selectedQty != "undefined") && (parseInt(ticket.selectedQty) < friendsCount))
	.alert 
		strong Warning: 
		span There are more invitees than tickets in this ticket group.
- if (parseInt(ticket.TicketQuantity) > friendsCount)
	- var err = true;
	- if ((typeof ticket.ValidSplits != "undefined") && (typeof ticket.ValidSplits.int != "undefined"))
		- for (var i in ticket.ValidSplits.int)
			- if (parseInt(ticket.ValidSplits.int[i]) == friendsCount)
				- var err = false;
				- break;
	- if (err)
		.alert 
			strong Warning: 
			span This ticket group cannot be split to accomodate your group size.
input(type="radio",checked="",value="#{ticket.ID}",name="ticketChoice")
.info
	#ticketSeat= "Section: "+ticket.Section + " - Row: " + ticket.Row
	.seats!= (ticket.LowSeat == '*') ? "" : "Seats: "+ticket.LowSeat + '-' + ticket.HighSeat 
	.progress
		.bar(style="width:#{votePct}%")
	em!= voteCntStr
.ticket-price-box
	include ../../ticket-price-box
include cost-breakdown

