include variables.jade
table(style="background:#{white}",align="center", border="0", cellpadding="0", cellspacing="0", width="736")
	tbody
		tr
			td(width="736")!= partial('email-templates/includes/heading',{text:"It's time to vote!"})
		tr
			td(width="736")
				table(align="left" ,border="0" ,cellpadding="0", cellspacing="0", width="736")
					tbody
						tr
							td(width="736")
								table(border="0" ,cellpadding="0", cellspacing="0", width="736")
									tbody
										tr
											td(bgcolor="#{white}",width="686")
												table(style="border-top:2px dashed #{grayDark}", align="center", border="0", cellpadding="0", cellspacing="0", width="686")
													tbody
														tr
															td(height="15")
														tr
															td(style="font-family:Arial,Helvetica,sans-serif;color:#{grayDark};line-height:1.7;font-size:14px", width="686")
										tr
											td(bgcolor="#{white}",width="686")
												table(height="50",align="center", border="0", cellpadding="0", cellspacing="0", width="686")
													tbody
														tr
															td!= 'Vote By: '+voteByDate;
														tr
															td
																a(href="#{voteLink}",style="color:#{orange};text-decoration:none;") Click here to vote.
														tr
															td
																a(href="#{noLink}",style="color:#{orange};text-decoration:none;") No thanks I can't make it.
