extends layout
block body
	table(style="background:#{white};font-size:16px;",align="center", border="0", cellpadding="0", cellspacing="0", width="100%")
		tbody
			tr
				td Hey #{friendName},
			tr
				td(height="80")
					span #{req.session.customer.firstName} #{req.session.customer.lastName} wants you to go to #{req.session.plan.event.eventName}. RSVP before #{rsvpDate}, otherwise we’re takin' your spot! ;)&nbsp;
					a(href="#{rsvpLink}") Rsvp here&nbsp;
					span to claim your spot and vote for your favorite options.
			tr
				td(height="80")
					include includes/signature

